<a href="https://colab.research.google.com/github/Bhuvana8639/BHUVANA/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
type(x)

int

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
print ("sum:",a+b+c)

sum: 30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
a=5
b=9.5
c='bhuvana'
print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
x=9
y=8
print ("subtraction:",x-y)
print ("addition:",x+y)
print ("multiplication:",x*y)
print ("division:",x/y)

subtraction: 1
addition: 17
multiplication: 72
division: 1.125

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
integer_value=int("123")
float_value=float("123")
print("Integer_value:", integer_value)
print("Float_value:", float_value)

Integer_value: 123
Float_value: 123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
string=input("enter a string:")
print("first character:", string[0])

enter a string:bhuvana'
first character: b

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
string=input("Enter a string")
print("length of the string",len(string))

Enter a stringBhavana
length of the string 8

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
string=input("enter a string:")
print("strings contains only alphabet")

enter a string:Bhavya
strings contains only alphabet

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
string1=input("enter  first string:")
string2=input("enter second string:")
print("concatenated string:", string1+string2)

enter  first string:Bhuvana'
enter second string:Anitha
concatenated string: Bhuvana' Anitha

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
string=input("enter a string:")
index=string.find("abc")
print("index of 'abc':")
print("'abc'not found in the string")

enter a string:Bhavani
index of 'abc':
'abc'not found in the string

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
string=input("enter a string:")
print("uppercase:",string.upper())
print("lowercase:",string.lower())

enter a string:Bhuvana
uppercase: BHUVANA
lowercase: bhuvana

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
string=input ("Enter a string:")
string=input ("Enter a character:")
print ("Character,appear times")

Enter a string:Bhuvana'
Enter a character:5
Character,appear times

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
input ("enter your name:")
print ("Hello,good morning.")

enter your name:Bhuvana
Hello,good morning.

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
num=float (input("enter first number:"))
num=float (input("enter second number:"))
print("sum")

enter first number:9
enter second number:8
sum

In [ ]:
{}# Write a Python program to format and display a string containing the user's name and age. (User input requi
input ("enter your Name:")
age=int(input("enter your Age:"))
print("hello.my name is and i am years old.")

enter your Name:Bhuvana
enter your Age:12
hello.my name is and i am years old.

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.



# Input from the user
num = float(input("Enter a number: "))

# Check the condition

if num > 0:

    print("The number is positive.")
elif num < 0:

    print("The number is negative.")
else:

    print("The number is zero.")

Enter a number: 9
The number is positive.

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
num1=float (input ("enter a first number:"))
num2=float (input ("enter a second number:"))

num3=float (input ("enter a third number:"))

maximum_number=max(num1,num2,num3)
print("maximum_number:",maximum_number)

enter a first number:20
enter a second number:30
enter a third number:40
maximum_number: 40.0

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)

num = int(input("Enter a number: "))
if num % 3 == 0 and num % 5 == 0:

    print(f"{num} is divisible by both 3 and 5.")
else:
     print(f"{num} is not divisible by both 3 and 5.")

Enter a number: 20
20 is not divisible by both 3 and 5.

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)


string = input("Enter a string: ")

if string == string[::-1]:
    print(f"'{string}' is a palindrome.")
else:
    print(f"'{string}' is not a palindrome.")

Enter a string: Bhuvana
'Bhuvana' is not a palindrome.

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
for number in range(1, 11):
     print(number)

1
2
3
4
5
6
7
8
9
10

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop
i=2
while i<=20:
 if i % 2==0:
  print(i)
  i+=2

2
4
6
8
10
12
14
16
18
20

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the numbe

number=int(input("Enter a number:"))
for i in range(1, 11):
 print("number,",i,"=",number*i)

Enter a number:6
number, 1 = 6
number, 2 = 12
number, 3 = 18
number, 4 = 24
number, 5 = 30
number, 6 = 36
number, 7 = 42
number, 8 = 48
number, 9 = 54
number, 10 = 60

In [ ]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
n=int(input("enter a number:"))
sum=0
i=1
while i<=n:
   sum+=i
   i+=1
print ("sum:",sum)

enter a number:8
sum: 36

In [ ]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
n=int(input("enter a number:"))
f=1
i=1
while i<n:
  f*=1
  i+=1
print("factorial:",f)

enter a number:9
factorial: 1

In [ ]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
n=int(input("enter a number of terms:"))
a,b=0,1


for i in range (n):
  print(a)
a,b=b,a+b

enter a number of terms:3
0
0
0

In [ ]:
# Write a Python program to find all the prime numbers from 1 to 100.
for num in range(1,101):
  if num>1:
   for i in range(2,num):
    if num % i==0:
     break
else:
 print(num)

100

In [ ]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).

numbers = [10, 23, 45, 67, 34, 50, 78]
for number in numbers:
    print(f"Checking number: {number}")
    if number > 50:
        print(f"Number {number} is greater than 50. Breaking out of the loop.")
        break

Checking number: 10
Checking number: 23
Checking number: 45
Checking number: 67
Number 67 is greater than 50. Breaking out of the loop.

In [ ]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for i in range(1,21):
  if i%2!=0:
      print (i)

1
3
5
7
9
11
13
15
17
19

In [ ]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)

string=input ("enter a string:")
character=input ("enter a character:")  # Change to 'character' (lowercase)
count=0


for i in string:
 if i ==character:  # Change to 'character' (lowercase)

  count+=1  #  Changed to count+=1


print(f"the character '{character}' appear {count} times.") # Corrected the f-string

enter a string:Hello
enter a character:L
the character 'L' appear 0 times.

In [ ]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)

num = int(input("Enter a num :"))

sum_digits = sum(int(digit) for digit in str(num))


  print("Sum of digit :", sum_ digit)

IndentationError: unexpected indent (<ipython-input-71-5ead1161bf17>, line 8)

In [ ]:
num=int(input("Enter a number:")sum_digit

SyntaxError: '(' was never closed (<ipython-input-33-80636b758827>, line 1)

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [ ]:
# Write a Python program to create a list of integers and print the sum of the elements.


numbers =[1, 2, 3, 4, 5]


import builtins
sum = builtins.sum

sum_of_numbers = sum(numbers)
print("The sum of the elements in the list is:", sum_of_numbers)

The sum of the elements in the list is: 15

In [ ]:
# Write a Python program to find the largest element in a list.

my_list = [10, 25, 32, 5, 67, 23]
largest_element = max(my_list)
print("The largest element is:", largest_element)

The largest element is: 67

In [ ]:
# Write a Python program to reverse a list.
my_list = [1, 2, 3, 4, 5, ]
print(my_list[::-1])

[5, 4, 3, 2, 1]

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

my_list = [1, 2, 3, 4, 3, 5]
my_list = [x for x in my_list if x != 3]

print(my_list)

[1, 2, 4, 5]

In [ ]:
# Write a Python program to find the index of an element in a list.
my_list = [1, 2, 3, 4, 5]
index = my_list.index(3)
print(index)

2

In [ ]:



# Write a Python program to find if a specific element exists in a list.
list = [1,2,3,4,5,6,]
element = 4
if element in list:
   print (f"{element} exists the list.")
else:
   print (f"{element} does not exists the list.")

4 exists the list.

In [ ]:
# Write a Python program to remove duplicates from a list.
list = [1,2,3,4,5,6,4,5,6,7,8]
unique_list=(set(list))
print(unique_list)

{1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Write a Python program to count the occurrences of an element in a list.
list = [1,2,3,4,9,8,5,3,4,7]
element = 4
count = list.count(element)
print (count )

2

In [ ]:
# Write a Python program to get the number of even numbers in a list.
list = [1,2,3,4,5,6,7,8,9,10,11]
count = 0
for i in list:
  if i % 2 == 0:
     count+=1
print (count)

5

In [ ]:
# Write a Python program to create a tuple and print it.
tuple = [1,2,3,4,5,6,7]
print (tuple)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# Write a Python program to convert a tuple to a list and vice versa
my_tuple = (1,2,3,4,5,6)
print("Original Tuple:",my_tuple)
my_list = list(my_tuple)
print("Tuple convered to List:",my_list)
my_tuple_again = tuple(my_list)
print("List converted back to Tuple:",my_tuple_again)

Original Tuple: (1, 2, 3, 4, 5, 6)
Tuple convered to List: [1, 2, 3, 4, 5, 6]
List converted back to Tuple: (1, 2, 3, 4, 5, 6)

In [ ]:
# Write a Python program to find the maximum and minimum values in a tuple.
tuple = (1,2, 3, 4,5,6,7,8,9,10,11)
maximum=max(tuple)
Minimum=min(tuple)
print ("maximum of the tuple:",max(tuple))
print ("minimum of the tuple:",min(tuple))

maximum of the tuple: 11
minimum of the tuple: 1

In [ ]:
# Write a Python program to unpack a tuple into variables.
my_tuple = (1,2,3)
a,b,c = my_tuple
print (a)
print (b)
print (c)

1
2
3

In [6]:
# Write a Python program to add an element to a set and check if an element exists in the set.
my_set = {1,2,3,4,5,6 }
my_set.add(7)
print (my_set)
element = 3
if element in my_set:
    print (f"{element} exists in the set.")

{1, 2, 3, 4, 5, 6, 7}
3 exists in the set.

In [12]:
# Write a Python program to create a dictionary with keys and values and print it.
my_dict = {'a':1,'b':2,'c':3}
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [26]:
# Write a Python program to access a dictionary value using a key.
my_dict = {'a':1 ,'b':2 ,'c':3}
value =my_dict['a']
print (value)

1

In [39]:
# Write a Python program to check if a key exists in a dictionary.
my_dict = {'a':1,'b':2,'c':3}
key ='m'
if key in my_dict:
  print(f" the key '{key}'exists in the dictionary.")

In [ ]:
# Write a Python program to merge two dictionaries.

In [31]:
# Write a Python pro ingram to remove a key from a dictionary.
my_dict ={'a':1,'b':2,'c':3}
del my_dict['a']
print (my_dict)

{'b': 2, 'c': 3}

In [ ]:
# Write a Python program to get the number of keys in a dictionary.

In [ ]:
# Write a Python program to find the largest and smallest values in a dictionary.

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [ ]:
# Write a Python function that returns the square of a number.

In [ ]:
# Write a Python function that accepts two parameters and returns their sum.

In [ ]:
# Write a Python function to check if a given number is prime.

In [ ]:
# Write a Python function to calculate the factorial of a number using recursion.

In [ ]:
# Write a Python function to calculate the power of a number using recursion.

In [ ]:
# Write a Python function to accept a list and return its length without using the built-in len() function.

In [ ]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.

In [ ]:
# Write a Python function that accepts a list of numbers and returns their product.

In [ ]:
# Write a Python function to check if a number is even or odd using the modulo operator.

In [ ]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.

In [ ]:
# Write a Python program to filter out all even numbers from a list using list comprehension.

In [ ]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.

In [ ]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.

In [ ]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.

In [ ]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.

In [ ]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.

In [ ]:
# Write a Python program to square each element of a list using the map() function.

In [ ]:
# Write a Python program to filter all even numbers from a list using the filter() function.

In [ ]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.

In [ ]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().

In [ ]:
# Write a Python program to remove all occurrences of a specific element from a list.

**Note:**
- All assignments must follow [PEP 8  Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`